*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio Navigation editor temp files
.navigation/

# APK and AAB
*.apk
*.ap_
*.aab

# dex files
*.dex

# Java class files
*.class

# Proguard
proguard/

# Log Files
*.log

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# NDK
obj/

# Play folder (for Google Play Publisher plugin)
play/
